<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">QEHS Calculators</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                
                <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'quality_calculators' %}">Quality</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'environment_calculators' %}">Environment</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'health_calculators' %}">Health</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'safety_calculators' %}">Safety</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'fire_calculators' %}">Fire</a></li>

                
                
                
                
                <li class="nav-item"><a class="nav-link" href="{% url 'disclaimer' %}">Disclaimer</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
                {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a></li>
                {% endif %}
            </ul>

            
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'account_logout' %}">Logout</a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'account_login' %}">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'account_signup' %}">Signup</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
